.App{
  font-family: 'Raleway', sans-serif;
}


.link_my{
  font-weight: 600;
  font-size: 20px;
  color: grey;
  text-decoration: none;
}

 .link_my:hover{

  font-weight:bold;
  text-decoration:inherit;
  color: #713e20;

  }

  .active{
    color: #713e20;
    font-weight:bold;
  }

  

  #head{
    font-weight:1000;
    color:#713e20;
    font-size:60px;
    margin-top:100px;
    margin-left: 150px;
  }

  .sept{
    font-weight: bold;
    color: #713e20;
  }

  #head-text{
    margin-left: 150px;
  }

  #head-social{
    margin-left: 135px;
    margin-top: 60px;
  }

  #social{
    color: #713e20;
    text-decoration:none;
  }

  .landing{
    margin-bottom: 120px;
  }

  #about{
    font-weight:1000;
    color:#713e20;
    font-size:50px;
    margin-top:50px;
  }

  #aboutus{
    margin-left:150px;
    margin-right:150px;
    font-size:20px;
    margin-top:40px;
    margin-bottom: 40px;
  }

  .domaincard{
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .card-title{
    font-weight: 800;
    text-align: center;
  }

  .card{
    border-radius: 25px;
  }

  .domaincards:hover{
    transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;

  }

#line{
  margin-left:150px;
  margin-right: 150px;
  color: #713e20;
  font-size: xx-large;
  font-weight: bold;
}

.fa{
  color: #713e20;
  text-decoration:none;
}

.team{
  margin-right: 100px;
  margin-left: 100px;
}

.contain{
  margin-left: 300px;
  margin-right: 300px;
}

.event{
  font-weight: bold;
  color: #713e20;
}

#eventdes{
  margin-left:400px;
  margin-right:400px;
  margin-top:40px;
  margin-bottom: 40px;
}

#all{
  color: #713e20;
  font-weight: 800;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}